<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-systemuser-heading" data-cy="SystemuserCreateUpdateHeading">Create or edit a Systemuser</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_entryDate">Entry Date</label>
          <div class="input-group">
            <input
              id="field_entryDate"
              data-cy="entryDate"
              type="text"
              class="form-control"
              name="entryDate"
              ngbDatepicker
              #entryDateDp="ngbDatepicker"
              formControlName="entryDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="entryDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_socialSecurityNumber">Social Security Number</label>
          <input
            type="text"
            class="form-control"
            name="socialSecurityNumber"
            id="field_socialSecurityNumber"
            data-cy="socialSecurityNumber"
            formControlName="socialSecurityNumber"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_jobDescription">Job Description</label>
          <input
            type="text"
            class="form-control"
            name="jobDescription"
            id="field_jobDescription"
            data-cy="jobDescription"
            formControlName="jobDescription"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option *ngIf="!editForm.get('user')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['user'])!.invalid && (editForm.get(['user'])!.dirty || editForm.get(['user'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['user'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label for="field_departments">Department</label>
          <select
            class="form-control"
            id="field_departments"
            data-cy="department"
            multiple
            name="departments"
            formControlName="departments"
          >
            <option
              [ngValue]="getSelectedDepartment(departmentOption, editForm.get('departments')!.value)"
              *ngFor="let departmentOption of departmentsSharedCollection; trackBy: trackDepartmentById"
            >
              {{ departmentOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
