<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="targetSystemCredentials">
      <h2 data-cy="targetSystemCredentialsDetailsHeading"><span>Target System Credentials</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ targetSystemCredentials.id }}</span>
        </dd>
        <dt><span>Username</span></dt>
        <dd>
          <span>{{ targetSystemCredentials.username }}</span>
        </dd>
        <dt><span>Password</span></dt>
        <dd>
          <span>{{ targetSystemCredentials.password }}</span>
        </dd>
        <dt><span>Target System</span></dt>
        <dd>
          <div *ngIf="targetSystemCredentials.targetSystem">
            <a [routerLink]="['/target-system', targetSystemCredentials.targetSystem?.id, 'view']">{{
              targetSystemCredentials.targetSystem?.name
            }}</a>
          </div>
        </dd>
        <dt><span>Employee</span></dt>
        <dd>
          <div *ngIf="targetSystemCredentials.employee">
            <a [routerLink]="['/employee', targetSystemCredentials.employee?.id, 'view']">{{
              targetSystemCredentials.employee?.lastName
            }}</a>
          </div>
        </dd>
        <dt><span>Department</span></dt>
        <dd>
          <div *ngIf="targetSystemCredentials.department">
            <a [routerLink]="['/department', targetSystemCredentials.department?.id, 'view']">{{
              targetSystemCredentials.department?.name
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/target-system-credentials', targetSystemCredentials.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
