<style>
  .data_table {
    margin: auto;
    width: 50%;
    grid-column-gap: 1px;
    grid-gap: 1px;
  }

  .data_table dt {
    margin: auto;
    text-align: right;
    hyphens: auto;
    float: right;
    display: inline-block;
    width: 200px;
  }

  .data_table dd {
    text-align: center;
    width: 200px;
  }
</style>

<div class="row justify-content-center data_table">
  <div class="col-8">
    <div *ngIf="department" style="text-align: center">
      <h2 data-cy="departmentDetailsHeading"><span>Department</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details" style="text-align: center">
        <dt class="col-md-6"><span>ID</span></dt>
        <dd class="col-md-6">
          <span>{{ department.id }}</span>
        </dd>
        <dt class="col-md-6"><span>Name</span></dt>
        <dd class="col-md-6">
          <span>{{ department.name }}</span>
        </dd>
        <dt class="col-md-6"><span>Targetsystem</span></dt>
        <dd class="col-md-6">
          <span *ngFor="let targetsystem of department.targetsystems; let last = last">
            <a [routerLink]="['/targetsystem', targetsystem?.id, 'view']">{{ targetsystem.name }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/department', department.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
