<div>
  <h2 id="page-heading" data-cy="TargetSystemCredentialsHeading">
    <span>Target System Credentials</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-target-system-credentials"
        [routerLink]="['/target-system-credentials/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Target System Credentials </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="targetSystemCredentials?.length === 0">
    <span>No targetSystemCredentials found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="targetSystemCredentials && targetSystemCredentials.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="username"><span>Username</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="password"><span>Password</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="targetSystem.name"><span>Target System</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="employee.lastName"><span>Employee</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="department.name"><span>Department</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let targetSystemCredentials of targetSystemCredentials; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/target-system-credentials', targetSystemCredentials.id, 'view']">{{ targetSystemCredentials.id }}</a>
          </td>
          <td>{{ targetSystemCredentials.username }}</td>
          <td>{{ targetSystemCredentials.password }}</td>
          <td>
            <div *ngIf="targetSystemCredentials.targetSystem">
              <a [routerLink]="['/target-system', targetSystemCredentials.targetSystem?.id, 'view']">{{
                targetSystemCredentials.targetSystem?.name
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="targetSystemCredentials.employee">
              <a [routerLink]="['/employee', targetSystemCredentials.employee?.id, 'view']">{{
                targetSystemCredentials.employee?.lastName
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="targetSystemCredentials.department">
              <a [routerLink]="['/department', targetSystemCredentials.department?.id, 'view']">{{
                targetSystemCredentials.department?.name
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/target-system-credentials', targetSystemCredentials.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/target-system-credentials', targetSystemCredentials.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(targetSystemCredentials)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="targetSystemCredentials && targetSystemCredentials.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
