<style>
  .data_table {
    margin: auto;
    width: 50%;
    grid-column-gap: 1px;
    grid-gap: 1px;
  }

  .data_table dt {
    margin: auto;
    text-align: right;
    hyphens: auto;
    float: right;
    display: inline-block;
    width: 200px;
  }

  .data_table dd {
    text-align: center;
    width: 200px;
  }
</style>
<div class="row justify-content-center data_table">
  <div class="col-8">
    <div *ngIf="targetsystemcredentials" style="text-align: center">
      <h2 data-cy="targetsystemcredentialsDetailsHeading"><span>Targetsystemcredentials</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details" style="text-align: center">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ targetsystemcredentials.id }}</span>
        </dd>
        <dt><span>Username</span></dt>
        <dd>
          <span>{{ targetsystemcredentials.username }}</span>
        </dd>
        <dt><span>Password</span></dt>
        <dd>
          <span>{{ targetsystemcredentials.password }}</span>
        </dd>
        <dt><span>Systemuser</span></dt>
        <dd>
          <div *ngIf="targetsystemcredentials.systemuser">
            <a [routerLink]="['/systemuser', targetsystemcredentials.systemuser?.id, 'view']">{{
              targetsystemcredentials.systemuser?.entryDate
            }}</a>
          </div>
        </dd>
        <dt><span>Targetsystem</span></dt>
        <dd>
          <div *ngIf="targetsystemcredentials.targetsystem">
            <a [routerLink]="['/targetsystem', targetsystemcredentials.targetsystem?.id, 'view']">{{
              targetsystemcredentials.targetsystem?.name
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/targetsystemcredentials', targetsystemcredentials.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
