<style>
  .data_table {
    margin: auto;
    width: 50%;
    grid-column-gap: 1px;
    grid-gap: 1px;
  }

  .data_table dt {
    margin: auto;
    text-align: right;
    hyphens: auto;
    float: right;
    display: inline-block;
    width: 200px;
  }

  .data_table dd {
    text-align: center;
    width: 200px;
  }
</style>

<div class="row justify-content-center data_table">
  <div class="col-8">
    <div *ngIf="systemuser" style="text-align: center">
      <h2 data-cy="systemuserDetailsHeading"><span>Systemuser</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details" style="text-align: center">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ systemuser.id }}</span>
        </dd>
        <dt><span>Entry Date</span></dt>
        <dd>
          <span>{{ systemuser.entryDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ systemuser.name }}</span>
        </dd>
        <dt><span>Social Security Number</span></dt>
        <dd>
          <span>{{ systemuser.socialSecurityNumber }}</span>
        </dd>
        <dt><span>Job Description</span></dt>
        <dd>
          <span>{{ systemuser.jobDescription }}</span>
        </dd>
        <dt><span>Department</span></dt>
        <dd>
          <span *ngFor="let department of systemuser.departments; let last = last">
            <a [routerLink]="['/department', department?.id, 'view']">{{ department.name }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/systemuser', systemuser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
