<nav data-cy="navbar" class="navbar navbar-dark navbar-expand-md bg-dark navbarzwei">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a
        class="nav-link"
        routerLink="systemuser"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="collapseNavbar()"
      >
        <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
        <span>Systemuser</span>
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a
        class="nav-link"
        routerLink="targetsystem"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="collapseNavbar()"
      >
        <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
        <span>Targetsystem</span>
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a
        class="nav-link"
        routerLink="targetsystemcredentials"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="collapseNavbar()"
      >
        <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
        <span>Targetsystemcredentials</span>
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a
        class="nav-link"
        routerLink="department"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="collapseNavbar()"
      >
        <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
        <span>Department</span>
      </a>
    </li>
  </ul>
</nav>
