<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-employee-heading" data-cy="EmployeeCreateUpdateHeading">Create or edit a Employee</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_password">Password</label>
          <input type="text" class="form-control" name="password" id="field_password" data-cy="password" formControlName="password" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_birthDate">Birth Date</label>
          <div class="input-group">
            <input
              id="field_birthDate"
              data-cy="birthDate"
              type="text"
              class="form-control"
              name="birthDate"
              ngbDatepicker
              #birthDateDp="ngbDatepicker"
              formControlName="birthDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="birthDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_entryDate">Entry Date</label>
          <div class="input-group">
            <input
              id="field_entryDate"
              data-cy="entryDate"
              type="text"
              class="form-control"
              name="entryDate"
              ngbDatepicker
              #entryDateDp="ngbDatepicker"
              formControlName="entryDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="entryDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_isEmployed">Is Employed</label>
          <input
            type="checkbox"
            class="form-check"
            name="isEmployed"
            id="field_isEmployed"
            data-cy="isEmployed"
            formControlName="isEmployed"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="form-group">
          <label for="field_departments">Department</label>
          <select
            class="form-control"
            id="field_departments"
            data-cy="department"
            multiple
            name="departments"
            formControlName="departments"
          >
            <option
              [ngValue]="getSelectedDepartment(departmentOption, editForm.get('departments')!.value)"
              *ngFor="let departmentOption of departmentsSharedCollection; trackBy: trackDepartmentById"
            >
              {{ departmentOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
